In [214]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [215]:
train_df = pd.read_csv('../Train_data.csv')

In [216]:
train_df.head()

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,class
0,0,tcp,ftp_data,SF,491,0,0,0,0,0,...,25,0.17,0.03,0.17,0.00,0.00,0.00,0.05,0.00,normal
1,0,udp,other,SF,146,0,0,0,0,0,...,1,0.00,0.60,0.88,0.00,0.00,0.00,0.00,0.00,normal
2,0,tcp,private,S0,0,0,0,0,0,0,...,26,0.10,0.05,0.00,0.00,1.00,1.00,0.00,0.00,anomaly
3,0,tcp,http,SF,232,8153,0,0,0,0,...,255,1.00,0.00,0.03,0.04,0.03,0.01,0.00,0.01,normal
4,0,tcp,http,SF,199,420,0,0,0,0,...,255,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,normal

In [138]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25192 entries, 0 to 25191
Data columns (total 42 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   duration                     25192 non-null  int64
 1   protocol_type                25192 non-null  object
 2   service                      25192 non-null  object
 3   flag                         25192 non-null  object
 4   src_bytes                    25192 non-null  int64
 5   dst_bytes                    25192 non-null  int64
 6   land                         25192 non-null  int64
 7   wrong_fragment               25192 non-null  int64
 8   urgent                       25192 non-null  int64
 9   hot                          25192 non-null  int64
 10  num_failed_logins            25192 non-null  int64
 11  logged_in                    25192 non-null  int64
 12  num_compromised              25192 non-null  int64
 13  root_shell                   25192 non-null  int64
 14  su_attempted                 25192 non-null  int64
 15  num_root                     25192 non-null  int64
 16  num_file_creations           25192 non-null  int64
 17  num_shells                   25192 non-null  int64
 18  num_access_files             25192 non-null  int64
 19  num_outbound_cmds            25192 non-null  int64
 20  is_host_login                25192 non-null  int64
 21  is_guest_login               25192 non-null  int64
 22  count                        25192 non-null  int64
 23  srv_count                    25192 non-null  int64
 24  serror_rate                  25192 non-null  float64
 25  srv_serror_rate              25192 non-null  float64
 26  rerror_rate                  25192 non-null  float64
 27  srv_rerror_rate              25192 non-null  float64
 28  same_srv_rate                25192 non-null  float64
 29  diff_srv_rate                25192 non-null  float64
 30  srv_diff_host_rate           25192 non-null  float64
 31  dst_host_count               25192 non-null  int64
 32  dst_host_srv_count           25192 non-null  int64
 33  dst_host_same_srv_rate       25192 non-null  float64
 34  dst_host_diff_srv_rate       25192 non-null  float64
 35  dst_host_same_src_port_rate  25192 non-null  float64
 36  dst_host_srv_diff_host_rate  25192 non-null  float64
 37  dst_host_serror_rate         25192 non-null  float64
 38  dst_host_srv_serror_rate     25192 non-null  float64
 39  dst_host_rerror_rate         25192 non-null  float64
 40  dst_host_srv_rerror_rate     25192 non-null  float64
 41  class                        25192 non-null  object
dtypes: float64(15), int64(23), object(4)
memory usage: 8.1+ MB

In [139]:
train_df.columns

Index(['duration', 'protocol_type', 'service', 'flag', 'src_bytes',
       'dst_bytes', 'land', 'wrong_fragment', 'urgent', 'hot',
       'num_failed_logins', 'logged_in', 'num_compromised', 'root_shell',
       'su_attempted', 'num_root', 'num_file_creations', 'num_shells',
       'num_access_files', 'num_outbound_cmds', 'is_host_login',
       'is_guest_login', 'count', 'srv_count', 'serror_rate',
       'srv_serror_rate', 'rerror_rate', 'srv_rerror_rate', 'same_srv_rate',
       'diff_srv_rate', 'srv_diff_host_rate', 'dst_host_count',
       'dst_host_srv_count', 'dst_host_same_srv_rate',
       'dst_host_diff_srv_rate', 'dst_host_same_src_port_rate',
       'dst_host_srv_diff_host_rate', 'dst_host_serror_rate',
       'dst_host_srv_serror_rate', 'dst_host_rerror_rate',
       'dst_host_srv_rerror_rate', 'class'],
      dtype='object')

In [140]:
train_df['protocol_type'].value_counts()

tcp     20526
udp      3011
icmp     1655
Name: protocol_type, dtype: int64

In [229]:
train_df['duration'].value_counts()

0        23168
1          374
2          165
3          102
4           75
         ...
1721         1
7850         1
13967        1
1609         1
6141         1
Name: duration, Length: 758, dtype: int64

In [142]:
train_df['flag'].value_counts()

SF        14973
S0         7009
REJ        2216
RSTR        497
RSTO        304
S1           88
SH           43
RSTOS0       21
S2           21
S3           15
OTH           5
Name: flag, dtype: int64

In [143]:
train_df['class'].value_counts()

normal     13449
anomaly    11743
Name: class, dtype: int64

In [144]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25192 entries, 0 to 25191
Data columns (total 42 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   duration                     25192 non-null  int64
 1   protocol_type                25192 non-null  object
 2   service                      25192 non-null  object
 3   flag                         25192 non-null  object
 4   src_bytes                    25192 non-null  int64
 5   dst_bytes                    25192 non-null  int64
 6   land                         25192 non-null  int64
 7   wrong_fragment               25192 non-null  int64
 8   urgent                       25192 non-null  int64
 9   hot                          25192 non-null  int64
 10  num_failed_logins            25192 non-null  int64
 11  logged_in                    25192 non-null  int64
 12  num_compromised              25192 non-null  int64
 13  root_shell                   25192 non-null  int64
 14  su_attempted                 25192 non-null  int64
 15  num_root                     25192 non-null  int64
 16  num_file_creations           25192 non-null  int64
 17  num_shells                   25192 non-null  int64
 18  num_access_files             25192 non-null  int64
 19  num_outbound_cmds            25192 non-null  int64
 20  is_host_login                25192 non-null  int64
 21  is_guest_login               25192 non-null  int64
 22  count                        25192 non-null  int64
 23  srv_count                    25192 non-null  int64
 24  serror_rate                  25192 non-null  float64
 25  srv_serror_rate              25192 non-null  float64
 26  rerror_rate                  25192 non-null  float64
 27  srv_rerror_rate              25192 non-null  float64
 28  same_srv_rate                25192 non-null  float64
 29  diff_srv_rate                25192 non-null  float64
 30  srv_diff_host_rate           25192 non-null  float64
 31  dst_host_count               25192 non-null  int64
 32  dst_host_srv_count           25192 non-null  int64
 33  dst_host_same_srv_rate       25192 non-null  float64
 34  dst_host_diff_srv_rate       25192 non-null  float64
 35  dst_host_same_src_port_rate  25192 non-null  float64
 36  dst_host_srv_diff_host_rate  25192 non-null  float64
 37  dst_host_serror_rate         25192 non-null  float64
 38  dst_host_srv_serror_rate     25192 non-null  float64
 39  dst_host_rerror_rate         25192 non-null  float64
 40  dst_host_srv_rerror_rate     25192 non-null  float64
 41  class                        25192 non-null  object
dtypes: float64(15), int64(23), object(4)
memory usage: 8.1+ MB

In [217]:
from sklearn.preprocessing import StandardScaler

In [218]:
# labelencoding
from sklearn.preprocessing import LabelEncoder
enc_dict={}
def encoding_label(x):
    le = LabelEncoder()
    r = le.fit_transform(x)
    enc_dict[x.name] = le.classes_
    return r

In [219]:
X_cat = train_df[['protocol_type', 'service', 'flag']]
# X_cat = train_df.select_dtypes(include=['object'])
X_cat = pd.get_dummies(X_cat)

In [220]:
scaler = StandardScaler()
X_num = train_df.drop(['protocol_type', 'service', 'flag', 'class'], axis=1)

scaler.fit(X_num)
X_scaled = scaler.transform(X_num)
X_scaled = pd.DataFrame(X_scaled, index=X_num.index, columns=X_num.columns)

X = pd.concat([X_scaled, X_cat], axis=1)
# y = target.apply(encoding_label)
y = train_df[['class']]

In [221]:
X

,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,num_compromised,...,flag_REJ,flag_RSTO,flag_RSTOS0,flag_RSTR,flag_S0,flag_S1,flag_S2,flag_S3,flag_SF,flag_SH
0,-0.113551,-0.009889,-0.039310,-0.00891,-0.091223,-0.006301,-0.091933,-0.02622,-0.807626,-0.021873,...,0,0,0,0,0,0,0,0,1,0
1,-0.113551,-0.010032,-0.039310,-0.00891,-0.091223,-0.006301,-0.091933,-0.02622,-0.807626,-0.021873,...,0,0,0,0,0,0,0,0,1,0
2,-0.113551,-0.010093,-0.039310,-0.00891,-0.091223,-0.006301,-0.091933,-0.02622,-0.807626,-0.021873,...,0,0,0,0,1,0,0,0,0,0
3,-0.113551,-0.009996,0.052473,-0.00891,-0.091223,-0.006301,-0.091933,-0.02622,1.238197,-0.021873,...,0,0,0,0,0,0,0,0,1,0
4,-0.113551,-0.010010,-0.034582,-0.00891,-0.091223,-0.006301,-0.091933,-0.02622,1.238197,-0.021873,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25187,-0.113551,-0.010093,-0.039310,-0.00891,-0.091223,-0.006301,-0.091933,-0.02622,-0.807626,-0.021873,...,0,1,0,0,0,0,0,0,0,0
25188,-0.113551,-0.009954,-0.039310,-0.00891,-0.091223,-0.006301,-0.091933,-0.02622,1.238197,-0.021873,...,0,0,0,0,0,0,0,0,1,0
25189,-0.113551,-0.010093,-0.039310,-0.00891,-0.091223,-0.006301,-0.091933,-0.02622,-0.807626,-0.021873,...,1,0,0,0,0,0,0,0,0,0
25190,-0.113551,-0.010093,-0.039310,-0.00891,-0.091223,-0.006301,-0.091933,-0.02622,-0.807626,-0.021873,...,0,0,0,0,1,0,0,0,0,0
25191,-0.113551,-0.010093,-0.039310,-0.00891,-0.091223,-0.006301,-0.091933,-0.02622,-0.807626,-0.021873,...,0,0,0,0,1,0,0,0,0,0

In [222]:
y

         class
0       normal
1       normal
2      anomaly
3       normal
4       normal
...        ...
25187  anomaly
25188  anomaly
25189  anomaly
25190  anomaly
25191  anomaly

[25192 rows x 1 columns]

In [223]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [224]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [225]:
from sklearn.linear_model import LogisticRegression

In [226]:
model_lr = LogisticRegression(max_iter=1000)
model_lr.fit(X_train, y_train)

C:\Users\ameri\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression(max_iter=1000)

In [227]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, plot_confusion_matrix

In [241]:
pred = model_lr.predict(X_test)
print(accuracy_score(y_test, pred))
print(classification_report(y_test, pred))

0.9715533209843874
              precision    recall  f1-score   support

     anomaly       0.98      0.96      0.97      3507
      normal       0.97      0.98      0.97      4051

    accuracy                           0.97      7558
   macro avg       0.97      0.97      0.97      7558
weighted avg       0.97      0.97      0.97      7558

In [230]:
model_lr.coef_

array([[ 2.95240565e-01, -6.78352442e-01, -5.75563104e-02,
         1.62514922e-01, -1.17478065e+00, -6.84437665e-02,
        -4.30389517e-01, -4.95572572e-02, -7.64621370e-01,
        -4.09655873e+00, -1.11230206e-01,  1.97902840e+00,
         3.09443694e+00, -3.07033179e-02,  3.87400199e-02,
         7.96508838e-02,  0.00000000e+00,  0.00000000e+00,
         4.66577334e-01, -1.31023438e+00,  9.16461375e-02,
         7.20626761e-01, -2.15458091e+00, -6.40808007e-01,
        -1.02368132e+00,  1.01522733e+00,  2.72189115e-01,
        -3.88648272e-01, -8.11714245e-01,  1.76709964e+00,
        -8.22686235e-01, -2.27831723e-01, -9.15938432e-01,
        -2.84080998e-01, -1.84493686e-01, -7.80151964e-01,
        -7.81715794e-01,  2.99302700e-01, -1.05245182e+00,
        -1.13131375e-01,  1.14618176e+00,  3.95837875e+00,
         9.82244869e-02, -5.73410167e-01,  1.31214525e+00,
        -3.34190625e-01, -6.29347281e-01, -3.33811384e-01,
        -9.61208937e-01, -7.25239204e-02, -7.33392470e-02,
         1.95552518e+00,  1.81922493e+00, -7.20531782e-02,
        -1.76409926e+00, -1.70470521e+00, -5.17692389e-01,
        -6.14333670e-02,  6.07641765e-01, -9.10162552e-01,
         1.30029477e+00, -5.99385861e-01, -3.03082542e-01,
         8.50033519e-01, -6.76688567e-01, -8.65344240e-07,
        -1.12155680e+00, -9.34847636e-01, -5.21785023e-01,
        -3.40873434e-01, -4.52216522e-01, -2.75307256e-01,
        -5.10926407e-02, -7.76032648e-01, -2.18628791e-01,
        -3.18831737e-01, -2.38966663e-01, -2.30676110e-01,
        -2.03754430e-01, -6.14415741e-01, -8.32362938e-01,
         5.16754579e-01,  1.68945198e+00, -8.29817657e-02,
        -4.23576750e-02,  1.71777224e+00, -2.70783910e-03,
        -3.72884186e+00,  1.19683385e-01, -1.78534153e-01,
        -5.26349743e-02,  3.38770219e-01,  3.13105640e+00,
        -6.28992768e-01, -4.17523905e-01, -9.32697361e-03,
        -2.26468771e-01, -7.75594056e-01,  2.90742267e+00,
        -4.95657838e-01,  9.55488103e-02,  1.07707977e-01,
         2.68461913e+00, -1.07846918e-01, -5.25382964e-01,
        -2.68920010e-01, -9.67401259e-01, -2.60839361e-01,
         3.92277458e+00,  1.06215744e+00, -2.90400386e-02,
        -2.33870389e+00, -3.66113842e+00,  1.67542506e+00,
        -6.93201991e-01,  7.64242401e-01, -4.09297692e-01,
        -5.17795114e-02]])

In [234]:
x1 = np.argwhere(abs(model_lr.coef_) > 5)
x1

array([], shape=(0, 2), dtype=int64)

In [235]:
from sklearn.svm import SVC

In [236]:
svm_model = SVC(kernel='rbf', C=8, gamma=0.1)
 
svm_model.fit(X_train, y_train)

C:\Users\ameri\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

SVC(C=8, gamma=0.1)

In [240]:
pred = svm_model.predict(X_test)
print(accuracy_score(y_test, pred))
print(classification_report(y_test, pred))

0.9961630060862662
              precision    recall  f1-score   support

     anomaly       1.00      0.99      1.00      3507
      normal       1.00      1.00      1.00      4051

    accuracy                           1.00      7558
   macro avg       1.00      1.00      1.00      7558
weighted avg       1.00      1.00      1.00      7558

In [242]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

In [244]:
# 학습진행
forest = RandomForestClassifier(n_estimators=100)
forest.fit(X_train, y_train)
 
# 예측
y_pred = forest.predict(X_test)
print(y_pred)
print(list(y_test))
 
# 정확도 확인
print('정확도:', metrics.accuracy_score(y_test, y_pred))

<ipython-input-244-665eceed56af>:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  forest.fit(X_train, y_train)

['anomaly' 'normal' 'anomaly' ... 'normal' 'normal' 'normal']
['class']
정확도 : 0.9980153479756549